@import "scss/_normalize.scss";
@import "scss/_variables.scss";
@import "scss/elements/_container.scss";
@import "scss/elements/_header.scss";
@import "scss/elements/_header__branding.scss";
@import "scss/elements/_header__navigation-toggle.scss";
@import "scss/elements/_header__navigation__mobile.scss";
@import "scss/elements/_header__profilephoto.scss";
@import "scss/elements/_intro.scss";
@import "scss/elements/_form.scss";
@import "scss/elements/_scoretable.scss";
@import "scss/elements/_result.scss";
@import "scss/elements/_emptystate.scss";
@import "scss/elements/_myfooter.scss";
@import "scss/elements/_faq.scss";
@import "scss/elements/_datenschutz.scss";
@import "scss/elements/_impressum.scss";
@import "scss/elements/_register-account.scss";
@import "scss/elements/_login-account.scss";
@import "scss/elements/_account.scss";
@import "scss/elements/_changelog.scss";
@import "scss/elements/_verify-account.scss";
@import "scss/elements/_forgot-password.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}
