.register-account {
  h2,
  p,
  img {
    margin-bottom: 30px;
  }
  input {
    margin-bottom: 15px;
    width: 100%;
    min-width: 0;
    border: 2px solid var(--black);
    font-size: var(--big);
    font-weight: var(--font-weight-black);
    padding: 10px 8px;
    margin-top: 4px;
    color: var(--black);
  }
  input[type="submit"] {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
    font-size: var(--big);
    color: white;
    background-color: var(--black);
    margin-bottom: 30px;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    font-size: var(--normal);
    line-height: 1.3;
    margin-bottom: 40px;
  }
  .registersucess {
    position: absolute;
    background-color: var(--green);
    width: 100%;
    max-width: 500px;
    z-index: 10;
    top: 40px;
    padding: 30px 10px 30px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    &.sucess {
      opacity: 1;
      visibility: visible;
    }
    i {
      color: white;
      font-size: 40px;
      margin-bottom: 10px;
    }
    p {
      color: white;
      padding: 0;
      margin: 0;
    }
    h3 {
      color: white;
      margin-bottom: 10px;
    }
  }
}
