@import "scss/_normalize.scss";
@import "scss/_variables.scss";
@import 'scss/elements/_container.scss';
@import 'scss/elements/_header.scss';
@import 'scss/elements/_header__branding.scss';
@import 'scss/elements/_header__navigation-toggle.scss';
@import 'scss/elements/_header__navigation__mobile.scss';
@import 'scss/elements/_intro.scss';
@import 'scss/elements/_form.scss';
@import 'scss/elements/_scoretable.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--black);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
}

.todo input{
  display: none;
}

.edit_mode.todo .todo-text, .edit_mode.todo .todo-courserating, .edit_mode.todo .todo-slope{
  display: none;
}

.edit_mode.todo input{
  display: block!important;
}

.edit_mode.todo i.fa-pen:before{
  content:"\f00c";
}
