.header__navigation__wrap{

  @include viewport-9{
  flex-direction: column-reverse;
  margin-right: 60px;
  display: flex;
}
}





.header__navigation {
  font-family: var(--font-family);
  font-weight: var(--font-weight-black);
  font-style: italic;
  display: flex;
  flex-direction: row;
      align-self: flex-end;
      font-size: 16px;
      text-transform:uppercase;
      display: none;
      visibility: hidden;
      @include viewport-9{
      flex-direction: column-reverse;
      margin-right: 60px;
      display: flex;
      visibility: visible;
    }
}

.header__navigation ul{
  margin: 10px 7px 10px 0;
}
.header__navigation ul li{
  display: inline;
  padding-left: 35px;
}

.header__navigation ul li a{

  color: var(--brand-primary);

}





.header__navigation__sub {
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  display: flex;
  flex-direction: row;
      align-self: flex-end;
      font-size: 12px;
      text-transform:uppercase;
      display: none;
      visibility: hidden;
      @include viewport-9{
      flex-direction: column-reverse;
      margin-right: 60px;
      display: flex;
      visibility: visible;
    }
}

.header__navigation__sub ul{
  margin: 10px 0;
}


.header__navigation__sub ul li{
  display: inline;
  padding-left: 35px;
}

.header__navigation__sub ul li a{

  color: var(--brand-primary);

}




.header__navigation__language{
  display: flex;
  display: none!important;
  flex-direction: column;
  margin-top: -10px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: var(--font-weight-regular);
    font-style: normal;
    text-transform: uppercase;


}

.header__navigation__language__content{
    background: var(--brand-gradient);
    position: absolute;

    width: 60px;
    height: 80px;
    right: -30px;
    top: -30px;
      @include viewport-7{
          right: -40px;
      }

  @include viewport-9{
    width: 60px;
    height: 95px;
    right: -40px;
    top: -20px;
  }




  &:before{
    z-index: 1;
    content: "";
    position: absolute;
    background-color: var(--white);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    transform: skewX(-10deg);

    right: 86%;
    top: 0;
    height: 100%;
    width: 20px;



  }
}


.header__navigation__language__content ul{
  padding: 0;
  margin: 22px 0 0 0;
  list-style-type: none;
  padding-left: 22px;
  @include viewport-9{
  margin: 30px 0 0 0;
  }

}

.header__navigation__language__content ul li{

  margin: 0 0 17px 0;
  line-height: 1;
  @include viewport-9{
  margin: 0 0 20px 0;
  }
}

.header__navigation__language__content ul li a{
color: var(--white);
}

.header__navigation__language__content ul li.active a{
font-weight: var(--font-weight-black);
font-style: italic;
}
