.scoretable__table{
  width: 100%;
     border-collapse: collapse;
     font-size: var(--normal);
}

.scoretable__table th, .scoretable__table tr{
  text-align: right;
}

.scoretable__table thead{
  font-size: var(--normal);
  font-weight: var(--font-weight-black);
  border: 0;
  border-bottom: 2px solid var(--black);
  border-spacing: 0;
}

.scoretable__table th{
    padding-bottom: 2px;
  border: 0;
    border-spacing: 0;
}

.scoretable__row{
    border-bottom: 1px solid var(--black);
}

.scoretable__row td{
  padding: 10px 0;
  position: relative;
}

.isgood.scoretable__row .scoretable__headline-scoredifferential:before{
  border-bottom: 5px solid var(--brand-primary);
  content: "";
  width: 40px;
  position: absolute;
  bottom: 6px;
  left: 0;
}

.scoretable__table button{
  background-color: white;
}

.scoretable__headline-scoredifferential{
  width: 16%;
  text-align: left!important;
  font-weight: var(--font-weight-black)!important;
}

.scoretable__headline-edit{

  width: 9%;
}

.scoretable__headline-delete{

  width: 9%;
}

.scoretable__headline-order{

  width: 10%;
}

.scoretable__headline-score{

  width: 20%;
}

.scoretable__headline-courserating{

  width: 18%;
}

.scoretable__headline-slope{

  width: 18%;
}
